<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
		
	<typeAliases>
		<typeAlias type="kr.ac.kopo.gameshop.model.Game" alias="Game"/>
		<typeAlias type="kr.ac.kopo.gameshop.model.Member" alias="Member"/>
		<typeAlias type="kr.ac.kopo.gameshop.model.Publisher" alias="Publisher"/>
		<typeAlias type="kr.ac.kopo.gameshop.model.Attach" alias="Attach"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/game.xml"/>
		<mapper resource="mybatis/member.xml"/>
		<mapper resource="mybatis/publisher.xml"/>
		<mapper resource="mybatis/attach.xml"/>
	</mappers>
</configuration>
